# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.

# By default, all text files should have the "lf" (Unix) line endings
* text eol=lf

# Common files
*.yml text
*.xml text
*.yaml text
*.md text
*.txt text
*.json text
*.editorconfig text
*.config text
*.mustache text
*.helmignore text
*.tpl text
*.sh text
*.gitmodules text
*.toml text
*.conf text
*.sql text

# Windows text files that should be normalized to crlf
*.ps1 text eol=crlf
*.cmd text eol=crlf
*.bat text eol=crlf
*.docx diff=astextplain eol=crlf
*.DOCX diff=astextplain eol=crlfs

# images can be diff on gitlab, but they are not text
*.png -text
*.PNG -text
*.gif -text
*.jpg -text
*.JPG -text
*.jpeg -text
*.bmp -text
*.ico -text
*.svg -text

# Don't corrupt kdbx
*.kdbx text=auto
*.sqlite3 text=auto