<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        {% block title %}
            <title>Wor</title>
        {% endblock %}
        {% load static %}
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link rel="stylesheet" href="{% static 'wor/style.css' %}">
    </head>
    <body>
        <header>
        {% if user.is_authenticated %}
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                User: {{ user.get_username }}
                <button type="submit">Log Out</button>
            </form>
            <nav>
                <a href="/">Accueil</a>
                <div>
                    <ul>
                        <li>
                            <a href="{% url 'wor:compare_equipment_url' %}">Compare Equipment</a>
                        </li>
                        <li>
                            <a href="{% url 'wor:character_url' %}">Add Character</a>
                        </li>
                        <li>
                            <a href="{% url 'wor:weapon_url' %}">Add Weapon</a>
                        </li>
                        <li>
                            <a href="{% url 'wor:chestplate_url' %}">Add Chestplate</a>
                        </li>
                        <li>
                            <a href="{% url 'wor:wristband_url' %}">Add Wristband</a>
                        </li>
                        <li>
                            <a href="{% url 'wor:amulet_url' %}">Add Amulet</a>
                        </li>
                        <li>
                            <a href="{% url 'wor:ring_url' %}">Add Rings</a>
                        </li>
                        <li>
                            <a href="{% url 'wor:artifact_url' %}">Add Artifacts</a>
                        </li>
                        <li>
                            <a href="{% url 'wor:show_weapon_url' %}">Show Weapons</a>
                        </li>
                        <li>
                            <a href="{% url 'wor:show_chestplate_url' %}">Show Chestplates</a>
                        </li>
                        <li>
                            <a href="{% url 'wor:show_wristband_url' %}">Show Wristbands</a>
                        </li>
                        <li>
                            <a href="{% url 'wor:show_amulet_url' %}">Show Amulets</a>
                        </li>
                        <li>
                            <a href="{% url 'wor:show_ring_url' %}">Show Rings</a>
                        </li>
                        <li>
                            <a href="{% url 'wor:show_character_url' %}">Show Characters</a>
                        </li>
                        <li>
                            <a href="{% url 'wor:show_pantheon_url' %}">Show Pantheon</a>
                        </li>
                        <li>
                            <a href="{% url 'wor:show_collection_url' %}">Show Collection</a>
                        </li>
                        <li>
                            <a href="{% url 'wor:show_artifact_url' %}">Show Artifacts</a>
                        </li>
                    </ul>
                </div>
            </nav>
        {% else %}
            <a href="{% url 'login' %}">login</a> / <a href="{% url 'wor:signup' %}">signup</a>
        {% endif %}
        </header>
        <main>
            {% block content %}
            {% endblock %}
        </main>
    </body>
</html>