{% extends 'wor/base.html' %}
{% load static %}

{% block title %}
<title>Compare Equipment</title>
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'wor/compare.css' %}">
<center>
   <h1>Compare Equipment</h1>
</center>
<div class="container">
    <form method="post">
        {% csrf_token %}
        <div class="selectChar">
            <div>Select a Character for compare his equipment</div>
            {% if character_list %}
                {{ form.character }}
            {% else %}
                <p>No characters are available.</p>
            {% endif %}
        </div>
        <div class="stats_grid">
            <div></div>
            <div class="stats_grid-stat-header">Min</div>
            <div class="stats_grid-stat-header">Max</div>
            <div class="stats_grid-stat-title">HP</div>
            <div>{{ form.hp_min }}</div>
            <div>{{ form.hp_max }}</div>
            <div class="stats_grid-stat-title">Atk</div>
            <div>{{ form.atk_min }}</div>
            <div>{{ form.atk_max }}</div>
            <div class="stats_grid-stat-title">Def</div>
            <div>{{ form.def_min }}</div>
            <div>{{ form.def_max }}</div>
            <div class="stats_grid-stat-title">Crit. Rate</div>
            <div>{{ form.crit_rate_min }}</div>
            <div>{{ form.crit_rate_max }}</div>
            <div class="stats_grid-stat-title">Crit. Dmg</div>
            <div>{{ form.crit_dmg_min }}</div>
            <div>{{ form.crit_dmg_max }}</div>
            <div class="stats_grid-stat-title">Spd Interval</div>
            <div>{{ form.vit_interval_min }}</div>
            <div>{{ form.vit_interval_max }}</div>
            <div class="stats_grid-stat-title">Rage Regen</div>
            <div>{{ form.rage_regen_min }}</div>
            <div>{{ form.rage_regen_max }}</div>
            <div class="stats_grid-stat-title">Heal Effect</div>
            <div>{{ form.heal_effect_min }}</div>
            <div>{{ form.heal_effect_max }}</div>
            <div class="stats_grid-stat-title">Defense Reduction</div>
            <div>{{ form.defense_reduction }}</div>
        </div>
        <div>Use equipped items {{ form.use_equipped_items }}</div>
        <input type="submit" value="Launch Compare">
    </form>
    {% if result_list %}
    <table>
        <thead>
            <tr>
                <th scope="col">HP</th>
                <th scope="col">ATK</th>
                <th scope="col">DEF</th>
                <th scope="col">Crit. Rate</th>
                <th scope="col">Crit. DMG</th>
                <th scope="col">Spd Interval</th>
                <th scope="col">Rage Regen</th>
                <th scope="col">Heal Effect</th>
                <th scope="col">DPS Estimate</th>
                <th scope="col">View Equipment</th>
            </tr>
        </thead>
        {% for characterEquip in characterEquipList %}
            {% for result in result_list %}
                {% if forloop.counter == forloop.parentloop.counter %}
                    <tr>
                        <td>{{ characterEquip.total_hp }}</td>
                        <td>{{ characterEquip.total_atk }}</td>
                        <td>{{ characterEquip.total_def }}</td>
                        <td>{{ characterEquip.total_crit_rate }}</td>
                        <td>{{ characterEquip.total_crit_dmg }}</td>
                        <td>{{ characterEquip.total_attack_interval }}</td>
                        <td>{{ characterEquip.total_rage_regen }}</td>
                        <td>{{ characterEquip.total_heal_effect }}</td>
                        <td>{{ characterEquip.total_dps }}</td>
                        <td>
                            <button>
                                <a href="{% url 'wor:compare_equipment_url'%}?result_id={{ forloop.counter }}">View</a>
                            </button>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </table>
    {% else %}
        <p>Your character already has the best equipment available !</p>
    {% endif %}
    {% if result %}
        {% for equipment in result %}
            {% if equipment.get_model_type == 'Weapon' %}
                <h2>Weapon</h2>
            {% elif equipment.get_model_type == 'Chestplate' %}
                <h2>Chestplate</h2>
            {% elif equipment.get_model_type == 'Wristband' %}
                <h2>Wristband</h2>
            {% elif equipment.get_model_type == 'Amulet' %}
                <h2>Amulet</h2>
            {% elif equipment.get_model_type == 'Ring' %}
                <h2>Ring</h2>
            {% endif %}
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Main stat</th>
                        <th scope="col">Main Stat Value</th>
                        <th scope="col">First Stat</th>
                        <th scope="col">First Stat Value</th>
                        <th scope="col">Second Stat</th>
                        <th scope="col">Second Stat Value</th>
                        <th scope="col">Third Stat</th>
                        <th scope="col">Third Stat Value</th>
                        <th scope="col">Fourth Stat</th>
                        <th scope="col">Fourth Stat Value</th>
                        <th scope="col">Set Name</th>
                        <th scope="col">Set Bonus</th>
                        <th scope="col">Character</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ equipment.main_stat }}</td>
                        <td>{{ equipment.main_stat_value }}</td>
                        <td>{{ equipment.first_stat }}</td>
                        <td>{{ equipment.first_stat_value }}</td>
                        <td>{{ equipment.second_stat }}</td>
                        <td>{{ equipment.second_stat_value }}</td>
                        <td>{{ equipment.third_stat }}</td>
                        <td>{{ equipment.third_stat_value }}</td>
                        <td>{{ equipment.fourth_stat }}</td>
                        <td>{{ equipment.fourth_stat_value }}</td>
                        <td>{{ equipment.set_name }}</td>
                        <td>{{ equipment.set_bonus }}</td>
                        <td>{{ equipment.character }}</td>
                    </tr>
                </tbody>
            </table>
        {% endfor %}
    {% endif %}
</div>
{% endblock %}