{% extends 'wor/base.html' %}
{% load static %}

{% block title %}
   <title>Show Artifacts</title>
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'wor/show_equipment.css' %}">
<center><h1>Show Artifacts</h1></center>
<table class="table">
    <thead>
        <tr>
            <th scope="col">HP</th>
            <th scope="col">ATK</th>
            <th scope="col">Character</th>
        </tr>
    </thead>
   <tbody>
   {% for artifact in artifacts %}
     <tr>
        <td>{{ artifact.hp }}</td>
        <td>{{ artifact.atk }}</td>
        <td>{{ artifact.character }}</td>
       <td>
           <button class="btn btn-warning">
               <a href="{% url 'wor:update_artifact_url' artifact.id %}">Update</a>
           </button>
           <button class="btn btn-danger">
               <a href="{% url 'wor:delete_artifact_url' artifact.id %}">Delete</a>
           </button>
       </td>
     </tr>
   {% endfor %}
   </tbody>
 </table>
{% endblock %}