{% extends 'wor/base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'wor/style.css' %}">

{% if character_list %}
    {% for character in character_list %}
        <a href="{% url 'wor:character-detail' character.id %}"><img width="90" src="../../static/wor/../../static/wor/images/icons/heroes/{{ character.name }}.png"></a>
        <a href="{% url 'wor:update_character_url' character.id %}">Update</a>
    {% endfor %}
{% else %}
    <p>No wor are available.</p>
{% endif %}

{% endblock %}