{% extends 'wor/base.html' %}

{% block title %}
   <title>Show Page</title>
{% endblock %}

{% block content %}
<center><h1>Show Rings</h1></center>
<table class="table">
   <thead>
     <tr>
       <th scope="col">Main stat</th>
       <th scope="col">Main Stat Value</th>
       <th scope="col">First Stat</th>
       <th scope="col">First Stat Value</th>
       <th scope="col">Second Stat</th>
       <th scope="col">Second Stat Value</th>
       <th scope="col">Third Stat</th>
       <th scope="col">Third Stat Value</th>
       <th scope="col">Fourth Stat</th>
       <th scope="col">Fourth Stat Value</th>
       <th scope="col">Set Name</th>
         <th scope="col">Set Bonus</th>
     </tr>
   </thead>
   <tbody>
   {% for ring in rings %}
     <tr>
        <td>{{ring.main_stat}}</td>
        <td>{{ring.main_stat_value}}</td>
        <td>{{ring.first_stat}}</td>
        <td>{{ring.first_stat_value}}</td>
        <td>{{ring.second_stat}}</td>
        <td>{{ring.second_stat_value}}</td>
        <td>{{ring.third_stat}}</td>
        <td>{{ring.third_stat_value}}</td>
        <td>{{ring.fourth_stat}}</td>
        <td>{{ring.fourth_stat_value}}</td>
        <td>{{ring.set_name}}</td>
        <td>{{ring.set_bonus}}</td>
       <td>
           <button class="btn btn-warning"><a href="{% url 'wor:update_ring_url' ring.id %}">Update</a></button>&nbsp;&nbsp;
           <button class="btn btn-danger"><a href="{% url 'wor:delete_ring_url' ring.id %}">Delete</a></button>
       </td>
     </tr>
   {% endfor %}
   </tbody>
 </table>
{% endblock %}
