{% extends 'wor/base.html' %}
{% load static %}

{% block title %}
   <title>Show Page</title>
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'wor/show_equipment.css' %}">
<center><h1>Show Wristbands</h1></center>
<table class="table">
   <thead>
     <tr>
       <th scope="col">Main stat</th>
       <th scope="col">Main Stat Value</th>
       <th scope="col">First Stat</th>
       <th scope="col">First Stat Value</th>
       <th scope="col">Second Stat</th>
       <th scope="col">Second Stat Value</th>
       <th scope="col">Third Stat</th>
       <th scope="col">Third Stat Value</th>
       <th scope="col">Fourth Stat</th>
       <th scope="col">Fourth Stat Value</th>
       <th scope="col">Set Name</th>
         <th scope="col">Set Bonus</th>
     </tr>
   </thead>
   <tbody>
   {% for wristband in wristbands %}
     <tr>
        <td>{{wristband.main_stat}}</td>
        <td>{{wristband.main_stat_value}}</td>
        <td>{{wristband.first_stat}}</td>
        <td>{{wristband.first_stat_value}}</td>
        <td>{{wristband.second_stat}}</td>
        <td>{{wristband.second_stat_value}}</td>
        <td>{{wristband.third_stat}}</td>
        <td>{{wristband.third_stat_value}}</td>
        <td>{{wristband.fourth_stat}}</td>
        <td>{{wristband.fourth_stat_value}}</td>
        <td>{{wristband.set_name}}</td>
        <td>{{wristband.set_bonus}}</td>
       <td>
           <button class="btn btn-warning"><a href="{% url 'wor:update_wristband_url' wristband.id %}">Update</a></button>&nbsp;&nbsp;
           <button class="btn btn-danger"><a href="{% url 'wor:delete_wristband_url' wristband.id %}">Delete</a></button>
       </td>
     </tr>
   {% endfor %}
   </tbody>
 </table>
{% endblock %}
