.container {
    form {
        margin-left: auto;
        margin-right: auto;
        width: 30%;

        .selectChar {
            display: flex;
        }

        #id_character {
            margin-left: 10px;
            width: 25%
        }

        input[type=submit] {
            margin-left: 35%;
            margin-right: 35%;
            margin-top: 15px;
            height: 25px;
            margin-bottom: 30px;
        }
    }
}

.stats_grid {
    display: grid;
    grid-template-columns: 24% 31% 31%;
    align-items: center;
    justify-content: flex-start;
    grid-column-gap: 2%;
    max-width: 600px;
}

.stats_grid-stat-header {
    text-align: center;
}

.stats_grid > div {
    padding: 5px 8px;
}

.stats_grid-stat-title, .stats_grid-stat-header {
    font-size: 20px;
    font-weight: 400;
    color: var(--hh-primary);
}

.stats_grid-align {
    text-align: center;
}

p {
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

table {
    margin-left: auto;
    margin-right: auto;
    tr {
        th {
            width:90px;
        }
        td {
            width:90px;
            text-align: center;
        }
    }
}