.stats_grid {
    display: grid;
    grid-template-columns: 20% 31% 31%;
    align-items: center;
    justify-content: flex-start;
    grid-column-gap: 2%;
    max-width: 600px;
}

.stats_grid-stat-header {
    text-align: center;
}

.stats_grid > div {
    padding: 5px 8px;
}

.stats_grid-stat-suggestion, .stats_grid-stat-title, .stats_grid-stat-header {
    font-size: 20px;
    font-weight: 400;
    color: var(--hh-primary);
}

.stats_grid-align {
    text-align: center;
}

.mat-mdc-form-field {
    --mat-mdc-form-field-floating-label-scale: 0.75;
    display: inline-flex;
    flex-direction: column;
    min-width: 0;
    text-align: left;
}

table {
    margin-left: 20%;
    tr {
        th {
            width:90px;
        }
        td {
            width:90px;
            text-align: center;
        }
    }
}